@font-face {
    font-family: 'Norse-Bold';
    src: url('assets/fonts/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #232323;
    margin-top: 0;
    font-family: sans-serif;
}


.container {
    display: flex;
    min-height: 100vh;
    max-width: 63%;
    margin: auto;
}

.odin {
    flex: 1;
}




.odin {
    flex: 0 0 320px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.odin > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.logo {
    position: absolute;
    top: 135px;    
    left: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-sizing: border-box;
}

.logo img {
    max-height: 70px;
    max-width: 70px;
    /* margin-right: 15px; */
    object-fit: contain;
}

.logo h2 {
    margin: 0;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    font-family: 'Norse-Bold', Arial, sans-serif;
    font-weight: normal;
}




/*######   INFO SECTION ########*/



.info {
    flex: 2;
    background-color: #F9FAFB;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto{
  margin-left: 20px;
  margin-right: 80px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 30px;
}


form {
  
  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 0 4px 10px -8px rgba(0,0,0,0.70)
}

form > p{
  margin-bottom: 15px;
  font-weight: 600;
}

.form-row {
  display: flex;
  margin-bottom: 15px;
  width: auto;
  gap: 50px;
}


.form-group {
  display: flex;
  flex-direction: column;
}


label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  color: #727375;
  margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
input {
  /* padding: 10px; */
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 157px;
}

/* Estilos para el campo enfocado (borde azul) */
input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
  outline: none;
}

/* Estilos para el campo con error (borde rojo) */
input[type="password"]:invalid {
  border-color: #dc3545;
}

/* Quita el box-shadow azul en campos con error que están enfocados */
.error-input:focus {
  box-shadow: none;
}

.account{

  margin-left: 30px;
  font-size: 12px;
}

button {
  /* width: 100%; */ /* Elimina o comenta esta línea si existe */
  padding: 10px 18px;
  border-radius: 5px;
  background: #596D48;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 150px;
  box-shadow: 3px 4px 10px -2px rgba(0,0,0,0.25);
}

a {
  text-decoration: none;
  color: green !important;
}

